node_modules/
bower_components/
.sass-cache/
composer.lock
vendor
index.php
.phpunit.result.cache
reports
clover.xml
coverage.xml
assets
package-lock.json
package.json
mix-manifest.json
phpDocumentor.phar
webpack.mix.js
.phpdoc
docs
/.idea
build/
## MAC STUFF
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.phpunit.result.cache
.php-cs-fixer.cache
.phpunit.cache
